.header {
  margin: 0;
  padding: 0;

  &__top {
    padding: 8px 0 10px;
    background-color: $color-primary-red;

    &-container {
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }
  }

  &__logo {
    &-link {
      margin: 0;
      margin-right: 57px;
      padding: 0;
      padding-top: 1px;
      width: 90px;
      height: 42px;

      &:focus {
        border-color: $color-secondary-blue;
      }
    }
  }

  &__nav {
    margin: 0;
    margin-right: auto;
    padding: 0;
    max-width: 460px;
    width: 100%;

    &-list {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0;
      padding: 0;
      list-style-type: none;
    }

    &-item {
      margin: 0;
      padding: 0;
    }

    &-link {
      color: $color-white;
      white-space: nowrap;

      &:focus {
        border-color: $color-secondary-blue;
      }

      &:hover {
        border-color: $color-white;
        background-color: $color-white;
        color: $color-primary-red;
      }

      &:active {
        border-color: $color-secondary-blue;
        background-color: $color-white;
        color: $color-secondary-blue;
      }
    }
  }

  &__btn {
    color: $color-white;
    border-color: $color-white;
    white-space: nowrap;

    &:focus {
      border-color: $color-secondary-blue;
    }

    &:hover {
      border-color: $color-white;
      background-color: $color-white;
      color: $color-primary-red;
    }

    &:active {
      border-color: $color-secondary-blue;
      background-color: $color-white;
      color: $color-secondary-blue;
    }

    &-call {
      margin-right: 24px;
    }
  }

  &__social {
    &-list {
      display: none;
      justify-content: flex-start;
      align-items: center;
      margin: 0;
      padding: 0;
      list-style-type: none;
    }
    &-link {
      padding: 5px;
      width: 26px;
      height: 26px;
      border: none;
      border-radius: 0;
    }
  }

  &__bottom {
    padding-top: 18px;
    background-color: $color-white;
    border-bottom: 1px solid #ebf2f8;
    &-container {
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }

    &-list {
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 630px;
      width: 100%;
      margin: 0;
      margin-right: auto;
      padding: 0;
      list-style-type: none;
    }

    &-item {
      position: relative;
    }

    &-link {
      padding: 9px 0 12px;
      border: 2px solid transparent;
      border-radius: 0;
      color: $color-secondary-blue;

      &:focus {
        border-bottom-color: $color-secondary-blue;
      }

      &:hover {
        border-bottom-color: $color-primary-red;

        & + .header__bottom-dropdown {
          display: grid;
          opacity: 1;
        }
      }

      &:active {
        color: $color-primary-red;
        border-bottom-color: $color-primary-red;
      }
    }

    &-dropdown {
      position: absolute;
      top: 47px;
      left: 0;
      margin: 0;
      padding: 24px 7px 34px 24px;
      max-width: 540px;
      display: none;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 100px;
      list-style-type: none;
      background-color: $color-grey;
      border: 1px solid transparent;
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
      opacity: 0;
      transition: opacity 0.3s ease-in-out;

      &:hover {
        display: grid;
        opacity: 1;
      }

      &-heading {
        font-family: $font-main;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        color: $color-secondary-blue;
        white-space: nowrap;

        &:not(:last-child) {
          margin-bottom: 35px;
        }
      }

      &-list {
        margin: 0;
        padding: 0;
        padding-top: 14px;
        list-style-type: none;
        opacity: 1;
        transition: opacity 0.3 ease-in-out;
      }

      &-item:not(:last-child) {
        margin-bottom: 8px;
      }

      &-link {
        padding: 0;
        line-height: 20px;
        color: $color-secondary-blue;

        &:focus {
          border-color: $color-secondary-blue;
        }

        &:hover {
          border-color: transparent;
          color: $color-primary-red;
        }

        &:active {
          border-color: $color-primary-red;
          color: $color-primary-red;
        }
      }
    }
  }

  &__chrono {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-right: 33px;
    padding: 0;
    border: 2px solid transparent;
    border-radius: 0;
    color: $color-secondary-blue;
    font-size: 14px;
    line-height: 19px;

    &:focus {
      border-bottom-color: $color-secondary-blue;
    }

    &:hover {
      border-bottom-color: $color-primary-red;
    }

    &:active {
      color: $color-primary-red;
      border-bottom-color: $color-primary-red;

      & .header__chrono-icon {
        fill: $color-primary-red;
      }
    }

    &-icon {
      position: relative;
      bottom: 2px;
      margin-right: 12px;
      width: 24px;
      height: 24px;
      fill: $color-secondary-blue;
      transition: fill 0.3s ease-in-out;
    }
  }

  &__my-speakers {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
    border: 2px solid transparent;
    border-radius: 0;
    color: $color-secondary-blue;
    font-size: 14px;
    line-height: 19px;

    &:focus {
      border-bottom-color: $color-secondary-blue;
    }

    &:hover {
      border-bottom-color: $color-primary-red;
    }

    &:active {
      color: $color-primary-red;
      border-bottom-color: $color-primary-red;

      & .header__my-speakers-icon {
        fill: $color-primary-red;
      }
    }

    &-icon {
      margin-right: 12px;
      width: 26px;
      height: 26px;
      fill: $color-secondary-blue;
      transition: fill 0.3s ease-in-out;
    }
  }
}

.burger {
  display: none;
  position: relative;

  &__btn {
    padding: 12px 14px;
    margin: 0;
    margin-right: 4px;
    border: none;
    border-radius: 0;
  }

  &__line {
    &-1 {
      display: block;
      margin-bottom: 5.5px;
      width: 12px;
      height: 1.45px;
      background-color: $color-white;
    }
    &-2 {
      display: block;
      margin-bottom: 5.5px;
      width: 12px;
      height: 1.45px;
      background-color: $color-white;
    }
    &-3 {
      display: block;
      width: 12px;
      height: 1.45px;
      background-color: $color-white;
    }
  }

  &__menu {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    padding: 16px;
    width: 100vw;
    height: 100vh;
    background-color: $color-primary-red;
    transform: translateX(-101%);
    z-index: 10;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;

    &--visible {
      opacity: 1;
      transform: translateX(0);
    }

    &-close {
      padding: 12px 14px;
      margin: 0;
      margin-bottom: 50px;

      &-1 {
        display: block;
        width: 20px;
        height: 1.45px;
        background-color: $color-white;
        transform: rotateZ(45deg) translateY(1px);
      }

      &-2 {
        display: block;
        width: 20px;
        height: 1.45px;
        background-color: $color-white;

        transform: rotateZ(-45deg) translateY(-1px);
      }
    }
  }
}

.dropdown--visible {
  display: grid;
  opacity: 1;
}

.dropdown-list--visible {
  opacity: 1 !important;
  display: block !important;
}

.dropdown-heading-is-opened {
  opacity: 1;
}

@media (max-width: 1024px) {
  .header {
    &__logo-link {
      margin-right: auto;
      width: 80px;
      height: 35px;
    }

    &__nav {
      &-link {
        font-size: 14px;
      }
    }
  }
}

@media (max-width: 998px) {
  .header {
    &__btn {
      display: none;
    }

    &__social {
      &-list {
        display: flex;
      }

      &-item:not(:last-child) {
        margin-right: 10px;
      }
    }

    &__icon-text {
      display: none;
    }
  }
}

@media (max-width: 768px) {
  .header {
    &__top {
      &-container {
        padding: 0 30px;
      }
    }
    &__logo-link {
      margin-right: auto;
      width: 47px;
      height: 22px;
    }

    &__nav {
      max-width: 300px;
      &-link {
        padding: 5px 5px;
        font-size: 12px;
        line-height: 100%;
      }
    }

    &__chrono {
      padding: 2px;
      margin-right: 8px;
      &-icon {
        margin: 0;
        width: 17px;
        height: 17px;
      }
    }

    &__my-speakers {
      padding: 2px;
      &-icon {
        position: relative;
        bottom: 1px;
        margin-right: 11px;
        width: 20px;
        height: 20px;
      }
    }

    &__bottom {
      padding-top: 17px;
      padding-bottom: 12px;

      &-container {
        padding: 0 20px 0 25px;
      }

      &-link {
        font-size: 12px;
        line-height: 18px;
      }
    }
  }
}

@media (max-width: 500px) {
  .header {
    &__top {
      padding: 0;

      &-container {
        padding: 0;
        padding-right: 14px;
      }
    }
    &__logo-link {
      margin-right: auto;
      width: 47px;
      height: 22px;
    }

    &__nav {
      margin: 0 auto;
      &-list {
        flex-direction: column;
      }

      &-item {
        margin-bottom: 15px;
      }

      &-link {
        font-size: 21px;
        line-height: 100%;
      }
    }

    &__btn {
      display: none;
    }

    &__social {
      &-list {
        display: flex;
      }

      &-item:not(:last-child) {
        margin-right: 10px;
      }
    }

    &__chrono {
      padding: 2px;
      margin-right: 8px;
      &-icon {
        margin: 0;
        width: 17px;
        height: 17px;
        fill: $color-white;
      }
    }

    &__my-speakers {
      padding: 2px;
      &-icon {
        position: relative;
        bottom: 1px;
        margin-right: 11px;
        width: 20px;
        height: 20px;
        fill: $color-white;
      }
    }

    &__icon-text {
      display: none;
    }

    &__bottom {
      padding-top: 17px;
      padding-bottom: 12px;
      background-color: $color-secondary-blue;

      &-container {
        padding: 0;
      }

      &-list {
        flex-wrap: wrap;
        justify-content: flex-start;
      }

      &-item {
        margin-right: 16px;
        margin-bottom: 10px;

        &:nth-child(4) {
          margin-right: 0;
          margin-bottom: 10px;
        }

        &:nth-child(5) {
          margin-right: auto;
          margin-bottom: 0;
        }
      }

      &-link {
        padding: 3px 7px;
        border: 1px solid transparent;
        border-radius: 6px;
        font-size: 12px;
        line-height: 18px;
        color: $color-white;

        &:focus {
          color: $color-secondary-blue;
          border-color: $color-white;
          background-color: $color-white;
        }

        &:hover {
          & + .header__bottom-dropdown {
            display: block;
            opacity: 1;
          }
        }

        &:active {
          color: $color-secondary-blue;
          border-color: $color-white;
          background-color: $color-white;
        }
      }

      &-dropdown {
        top: 77px; // При полном макете эти значения будут динамическими через js
        left: -10px;
        padding: 0;
        max-width: 100vw;
        width: 100vh;
        height: 100vh;

        &:hover {
          display: block;
        }

        &-heading {
          position: relative;
          padding: 12px 16px 9px;
          font-size: 14px;
          line-height: 19px;
          letter-spacing: 0.01em;
          border-left: 2px solid transparent;
          transition: border-color 0.3s ease-in-out;

          &:not(:last-child) {
            margin-bottom: 0;
          }

          &::before {
            content: "";
            position: absolute;
            top: 0;
            left: -3px;
            width: 2px;
            height: 40px;
            background-color: $color-primary-red;
            opacity: 0;
            z-index: 100;
            transition: opacity 0.3s ease-in-out;
          }

          &::after {
            content: "";
            position: absolute;
            top: 8px;
            right: 18px;
            width: 8.5px;
            height: 8.5px;
            background-color: transparent;
            border-width: 1px;
            border-style: solid;
            border-color: $color-secondary-blue;
            border-left-color: transparent;
            border-top-color: transparent;
            opacity: 1;
            transform: rotate(45deg);
            z-index: 100;
            transition: transform 0.3s ease-in-out;
          }
        }

        &-list {
          display: none;
          padding: 20px 12px;
          opacity: 0;
        }

        &-item:not(:last-child) {
          margin-bottom: 18px;
        }

        &-link {
          font-size: 15px;
        }
      }
    }
  }
  .burger {
    display: block;

    &__menu {
      display: block;
    }
  }

  .header__bottom-dropdown-heading.dropdown-heading-is-opened::before {
    opacity: 1;
  }

  .header__bottom-dropdown-heading.dropdown-heading-is-opened::after {
    top: 17px;
    border-right-color: $color-primary-red;
    border-bottom-color: $color-primary-red;
    transform: rotate(225deg);
  }
}
