// Шрифты
$font-main: "OpenSans", sans-serif;
$font-oxford: "PlayfairDisplay", sans-serif;

// Цвета
$color-white: #ffffff;
$color-black: #333333;
$color-grey: #999999;
$color-grey-light: #f6f6f6;
$color-grey-light-2: #f7f7f7;
$color-grey-medium: #eaeaea;
$color-grey-shade: #666666;
$color-primary: #a65cf0;
$color-primary-light: #c998fb;
$color-primary-shade: #7033ac;
$color-pink-violet: #ebd1ff;
$color-pink-light: #f8efff;
$color-secondary: #ff862f;
$color-secondary-light: #ffbd59;
$color-secondary-shade: #bb370e;
$color-bone: #fff5d1;
$color-lime: #daffd1;
$color-green-input: #b8ec64;
$color-red-input: #ff6972;
$color-gold: #d5b986;
